$main: #436372;
$cream: #fcd7b6;
$cream-soft: #fef7f0;
$black: #585858;
$gb: #a3bbc8;
$white: #ffff;
$footer: #7b7b7b;
$accent: #234969;
$footer-title: #1f2044;
$title: #191919;

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}