@import './reset';
@import './vars';
@import './fonts';
@import './global';

@import '../../node_modules/slick-carousel/slick/slick.scss';


.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: center;
  }
}

.menu {
  display: flex;
  gap: 30px;

  &__link {
    font-size: 15px;
    font-family: 'Rubik';
    font-weight: 700;
    transition: all .2s;
  }

  &__link:hover {
    color: #214454;
  }
}


.user-nav {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  align-items: center;

  &__serch {
    background: #edf1f4;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__gb {
    padding: 13px;
    background-color: $gb;
    border-radius: 50%;
    cursor: pointer;
  }

  &__shop {
    position: relative;
    display: flex;
    padding: 10px 40px;
    background-color: $cream;
    border-radius: 30px;
    align-items: center;
    gap: 25px;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 10px;
    border-radius: 50%;
    background-color: $white;
    text-align: center;
    transform: translate(-6px, -6px);
    line-height: 16px;
  }

  &__serch-img,
  &__shop-img {
    transform: translateY(2px);
  }
}

.footer {
  &__top {
    font-size: 14px;
    color: $footer;
    font-family: 'Rubik';
    font-weight: 300;
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
  }

  &__sub {
    max-width: 270px;
  }

  &__link {
    font-size: 14px;
    color: $footer;
    font-family: 'Rubik';
    font-weight: 300;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__logo {
    display: block;
    margin-top: -10px;
    margin-bottom: 30px;
  }


  &__title {
    font-family: 'DMSans';
    font-weight: 700;
    font-size: 16px;
    color: $footer-title;
    line-height: 21px;
    margin-bottom: 25px;
  }

  &__sub-text {
    margin-bottom: 30px;
    line-height: 21px;
  }

  &__info {
    max-width: 250px;
  }


  &__form {
    background-color: #a3bbc8;
  }

  &__input {
    padding: 12px 15px;
    font-size: 12px;
    background-color: $cream;
    margin: 0;

    &::placeholder {
      color: $accent;
    }
  }

  &__btn {
    margin: 0;
    padding: 12px 15px;
    background-color: #a3bbc8;
    font-size: 12px;
    color: $white;
  }


  &__botton {
    padding: 30px 0px;
    font-size: 14px;
    color: $footer;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__botton-link {
    color: $footer;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__botton-list {
    border-left: 1px solid $footer;
    padding: 0px 15px;

  }

  &__botton-list--none {
    border: none;
  }
}

.footer__list+.footer__list {
  margin-top: 15px;
}

.top-slider {
  background-color: $cream;
  padding: 100px 0px 40px;

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 72px;
    font-family: 'Rubik';
    font-weight: 700;
    color: $accent;
    line-height: 70px;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 18px;
    color: $main;
    line-height: 30px;
    font-family: 'Rubik';
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__btn {
    display: flex;
    width: 200px;
    padding: 20px;
    align-items: center;
    color: $white;
    font-size: 15px;
    font-family: 'Rubik';
    font-weight: 500;
    line-height: 12px;
    background-color: $gb;
    transition: all .3s;

    &:hover {
      background-color: #7a8f9b;
    }
  }

  &__arrow {
    padding-left: 50px;
  }

  &__img {
    display: block;
    width: 50%;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;

  li {
    margin-left: 20px;
    padding: 10px 14px;
    background-color: $white;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
  }

  button {
    font-family: 'Rubik';
    font-weight: 500;
    color: $accent;
  }
}

li.slick-active {
  opacity: 1;
}

.benefits {
  background-color: $cream-soft;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__item {
    display: flex;
    padding: 45px 100px;
    align-items: center;
  }

  &__img {
    margin-right: 25px;
    width: 50px;
    height: 30px;
  }

  &__title {
    font-size: 18px;
    font-family: 'DMSans';
    font-weight: 700;
    color: #414141;
    margin-bottom: 10px;
  }

  &__text {
    line-height: 30px;
  }
}

.benefits__item+.benefits__item {
  border-left: 1px solid #e8e4df;
}

.product {
  padding: 70px 0px;

  &__title {
    margin-bottom: 30px;
  }

  &__filter {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 75px;
  }

  &__btn {
    font-family: 'DMSans';
    font-weight: 700;
    color: #8b8b8b;
    transition: all .2s;
  }

  &__album {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
  }


  &__item {
    padding: 30px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: center;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;


    &:hover {
      .product__choice {
        opacity: 1;
      }
    }
  }

  &__box-img {
    height: 200px;
    width: 100%;
  }

  &__img {
    height: 100%;
  }


  &__item-title {
    font-family: 'DMSans';
    font-weight: 500;
    color: #243f4d;
    margin-bottom: 15px;
  }

  &__price {
    font-family: 'DMSans';
    font-weight: 700;
    color: #a3bbc8;
  }


  &__choice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s;
  }

  &__choice-link {
    background-color: #fefefe;
    border-radius: 50%;
    padding: 10px;
    transition: all .4s;

    svg {
      transform: translateY(4px);
    }

    &:hover {
      background-color: #a3bac7;
      transform: scale(1.2);

      path {
        fill: #fefefe;
      }
    }

  }

}







.mixitup-control-active {
  color: $title;
}

.product__choice-link+.product__choice-link {
  margin-left: 16px;
}