@import './reset';
@import './vars';
@import './fonts';
@import './global';

@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox';
@import '../../node_modules/ion-rangeslider/css/ion.rangeSlider';
@import '../../node_modules/rateyo/src/jquery.rateyo';
@import '../../node_modules/jquery-form-styler/dist/jquery.formstyler';
@import '../../node_modules/jquery-form-styler/dist/jquery.formstyler.theme';




.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: center;
  }
}

.menu {
  display: flex;
  gap: 30px;

  &__link {
    font-size: 15px;
    font-family: 'Rubik';
    font-weight: 700;
    transition: all .2s;
  }

  &__link:hover {
    color: #214454;
  }
}


.user-nav {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  align-items: center;

  &__serch {
    background: #edf1f4;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__gb {
    padding: 13px;
    background-color: $gb;
    border-radius: 50%;
    cursor: pointer;
  }

  &__shop {
    position: relative;
    display: flex;
    padding: 10px 40px;
    background-color: $cream;
    border-radius: 30px;
    align-items: center;
    gap: 25px;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 10px;
    border-radius: 50%;
    background-color: $white;
    text-align: center;
    transform: translate(-6px, -6px);
    line-height: 16px;
  }

  &__serch-img,
  &__shop-img {
    transform: translateY(2px);
  }
}

.top {
  padding: 35px 0px;
  background-color: #edf1f4;
  text-align: center;

  &__title {
    font-size: 36px;
    font-family: 'Rubik';
    font-weight: 300;
    color: #222933;
    margin-bottom: 10px;
  }
}

.breadcrumbs {
  &__lists {
    display: flex;
    justify-content: center;
  }

  &__list {
    margin-right: 5px;

    &::after {
      content: "/";
      color: $footer;
    }

    &:last-child {
      margin-right: 0px;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    font-size: 15px;
    color: $footer;
    font-family: 'Rubik';
  }
}

.footer {
  &__top {
    font-size: 14px;
    color: $footer;
    font-family: 'Rubik';
    font-weight: 300;
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
  }

  &__sub {
    max-width: 270px;
  }

  &__link {
    font-size: 14px;
    color: $footer;
    font-family: 'Rubik';
    font-weight: 300;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__logo {
    display: block;
    margin-top: -10px;
    margin-bottom: 30px;
  }


  &__title {
    font-family: 'DMSans';
    font-weight: 700;
    font-size: 16px;
    color: $footer-title;
    line-height: 21px;
    margin-bottom: 25px;
  }

  &__sub-text {
    margin-bottom: 30px;
    line-height: 21px;
  }

  &__info {
    max-width: 250px;
  }


  &__form {
    background-color: #a3bbc8;
  }

  &__input {
    padding: 12px 15px;
    font-size: 12px;
    background-color: $cream;
    margin: 0;

    &::placeholder {
      color: $accent;
    }
  }

  &__btn {
    margin: 0;
    padding: 12px 15px;
    background-color: #a3bbc8;
    font-size: 12px;
    color: $white;
  }


  &__botton {
    padding: 30px 0px;
    font-size: 14px;
    color: $footer;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__botton-link {
    color: $footer;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__botton-list {
    border-left: 1px solid $footer;
    padding: 0px 15px;

  }

  &__botton-list--none {
    border: none;
  }
}

.footer__list+.footer__list {
  margin-top: 15px;
}

.top-slider {
  background-color: $cream;
  padding: 100px 0px 40px;

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 72px;
    font-family: 'Rubik';
    font-weight: 700;
    color: $accent;
    line-height: 70px;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 18px;
    color: $main;
    line-height: 30px;
    font-family: 'Rubik';
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__btn {
    display: flex;
    width: 200px;
    padding: 20px;
    align-items: center;
    color: $white;
    font-size: 15px;
    font-family: 'Rubik';
    font-weight: 500;
    line-height: 12px;
    background-color: $gb;
    transition: all .3s;

    &:hover {
      background-color: #7a8f9b;
    }
  }

  &__arrow {
    padding-left: 50px;
  }

  &__img {
    display: block;
    width: 50%;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;

  li {
    margin-left: 20px;
    padding: 10px 14px;
    background-color: $white;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
  }

  button {
    font-family: 'Rubik';
    font-weight: 500;
    color: $accent;
  }
}

li.slick-active {
  opacity: 1;
}

.benefits {
  background-color: $cream-soft;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__item {
    display: flex;
    padding: 45px 80px;
    align-items: center;
  }

  &__img {
    margin-right: 25px;
    width: 50px;
    height: 30px;
  }

  &__title {
    font-size: 18px;
    font-family: 'DMSans';
    font-weight: 700;
    color: #414141;
    margin-bottom: 10px;
  }

  &__text {
    line-height: 30px;
  }
}

.benefits__item+.benefits__item {
  border-left: 1px solid #e8e4df;
}

.product {
  padding: 70px 0px;

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__filter {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 75px;
  }

  &__btn {
    font-family: 'DMSans';
    font-weight: 700;
    color: #8b8b8b;
    transition: all .2s;
  }

  &__album {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
  }


  &__item {
    width: 270px;
    padding: 30px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: center;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &:hover {
      .product__choice {
        opacity: 1;
      }
    }

    &.product__item--list {
      width: 100%;
    }
  }

  &__box-img {
    height: 200px;
    width: 100%;
  }

  &__img {
    height: 100%;
  }


  &__item-title {
    font-family: 'DMSans';
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__price {
    font-family: 'DMSans';
    font-weight: 700;
    color: #a3bbc8;
  }


  &__choice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s;
  }

  &__choice-link {
    background-color: #fefefe;
    border-radius: 50%;
    padding: 10px;
    transition: all .4s;

    svg {
      transform: translateY(4px);
    }

    &:hover {
      background-color: #a3bac7;
      transform: scale(1.2);

      path {
        fill: #fefefe;
      }
    }

  }

}

.product__choice-link+.product__choice-link {
  margin-left: 16px;
}

.banner {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  &__item {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    display: flex;
  }

  &__inner {
    padding: 120px 0px 100px 0px;
    margin-left: auto;
    margin-right: 10px;
    max-width: 330px;
    color: #243f4d;
  }

  &__title-box {
    height: 50px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
  }

  &__text {
    font-family: 'Rubik';
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    margin: 20px 0px;
  }

  &__link {
    padding: 15px 10px;
    text-align: center;
    font-weight: 500;
    font-family: 'Rubik';
    font-size: 15px;
    color: #436372;
    border: 1px solid #243f4d;
    display: block;
    max-width: 180px;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: $white;
    }

    svg {
      margin-left: 30px;
    }
  }
}


.desing {
  padding: 110px 0px;

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__filter {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 75px;
  }

  &__btn {
    font-family: 'DMSans';
    font-weight: 700;
    color: #8b8b8b;
    transition: all .2s;
  }

  &__album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
  }

  &__item {
    width: 370px;
    height: 250px;
    padding: 35px 0px 165px 36px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  &__inner {
    max-width: 170px;
  }

  &__item-title {
    font-size: 20px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 15px;
  }

  &__class {
    color: #a3bbc8;
    font-weight: 700;
  }
}

.mixitup-control-active {
  color: $black;
}

.video {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 120px;

  &__play {
    cursor: pointer;
    transition: all 0.2s ease-in;


    &:hover {
      transform: scale(1.2);
    }
  }
}

.about {

  margin-bottom: -210px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__link {
    font-weight: 700;
    color: #262626;
    padding-right: 25px;
    margin-right: 25px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 7px;
      height: 12px;
      right: 0;
      top: 4px;
      background-image: url('../img/about/arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 420px;

  }

  &__item {
    position: relative;
    background-color: $white;
  }

  &__img {
    max-height: 210px;
    width: 100%;
    display: block;
    object-fit: cover;
  }

  &__news {
    position: absolute;
    background-color: #a3bbc8;
    padding: 10px 31px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: $white;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  &__wrapper {
    padding: 36px 30px 26px 30px;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    color: #262626;
    margin-bottom: 18px;
  }

  &__inner {
    display: flex;
    padding-top: 20px;
    font-size: 12px;
    font-family: 'Rubik';
    color: #222933;
    text-transform: uppercase;
  }

  &__data {
    margin-right: 30px;
  }

}

.partners {
  background-color: $cream-soft;
  padding: 265px 0px 90px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}

.partners--min {
  padding: 90px 0px;
}

.login {
  padding: 120px 0px;

  &__form {
    display: block;
    width: 470px;
    margin: 0 auto;
  }

  &__label {
    display: block;
    font-size: 14px;
    color: #436372;
    font-family: 'Rubik';
    margin-bottom: 30px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0px 15px;
    margin-top: 15px;
    border: 1px solid #f6f6f6;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__input-checkbox {
    transform: translateY(2px);
  }


  &__error {
    font-size: 14px;
    color: #436372;
    font-family: 'Rubik';
  }

  &__registered {
    display: block;
    padding: 30px 0px;
    border-top: 1px solid #f6f6f6;
    font-size: 14px;
    color: #436372;
    font-family: 'Rubik';
    text-align: center;
  }

  &__btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 23px 0px;
    font-weight: 500;
    font-family: 'Rubik';
    color: $white;
    background-color: #a3bbc8;
    margin-bottom: 35px;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #214454;
    }
  }


  &__link {
    display: block;
    text-align: center;
    width: 100%;
    padding: 23px 0px;
    font-weight: 500;
    font-family: 'Rubik';
    color: $black;
    border: 1px solid #a3bbc8;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #214454;
      border: none;
      color: $white;
    }
  }
}

.rules {
  padding: 120px 0px;
  font-family: 'Rubik';
  color: #243f4d;

  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }

  &__lists {
    margin-left: 20px;
  }

  &__list {
    margin-top: 33px;
    padding-left: 13px;
  }

  &__inner {
    margin-top: 70px;
  }
}

.mission {
  padding: 120px 0px;
  font-family: 'Rubik';
  color: #243f4d;

  &__wrapper {
    display: flex;
  }

  &__inner {
    margin-left: 30px;
    padding-top: 85px;
    max-width: 550px;
  }

  &__years {
    display: flex;
    width: 210px;
    margin-bottom: 20px;
  }

  &__years-number {
    font-size: 140px;
    font-weight: 700;
    color: #a3bbc8;
  }

  &__years-text {
    margin-top: 40px;
    margin-left: 30px;
    line-height: 30px;
  }

  &__title {
    color: #243f4d;
    margin-bottom: 50px;
  }

  &__text {
    padding-bottom: 65px;
    border-bottom: 1px solid #e6eaf1;
  }

  &__achievement {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
  }

  &__item-inner {
    margin-left: 20px;
  }

  &__item-number {
    color: #243f4d;
  }

  &__item-text {
    font-size: 16px;
    font-weight: 700;
    color: #4c4c4c;
  }
}

.mission__item+.mission__item {
  padding-left: 30px;
  border-left: 1px solid #e6eaf1;
}

.widgets {
  padding: 95px 0px 85px;
  background-color: $cream;

  &__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: end;
  }

  &__img-box {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__img {
    height: 100%;
  }

  &__number {
    margin: 20px 0px 27px;
  }

  &__text {
    font-size: 18px;
    color: #243f4d;
    font-weight: 700;
  }
}

.team {
  padding: 120px 0px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 30px;
  }

  &__inner {
    max-width: 300px;
  }

  &__text {
    line-height: 30px;
    margin: 40px 0px;
  }

  &__link {
    padding: 19px;
    background-color: #a3bbc8;
    color: $white;
    font-size: 15px;
    font-family: 'Rubik';
    display: flex;
    align-items: center;
    width: 170px;
    border-radius: 5px;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #214454;
    }
  }

  &__link-arrow {
    margin-left: 20px;
  }


  &__info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 325px;
    padding: 30px 25px;
    margin-top: -60px;
    background-color: $white;
    box-shadow: 0 6px 57px rgba(37, 37, 37, 0.05);
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    color: #436372;
    line-height: 26px;
  }

  &__status {
    color: #565872;
    font-family: 'Rubik';
  }

}

.shop {
  padding: 120px 0px;

  &__wrapper {
    display: flex;
  }
}

.filter {
  max-width: 270px;
  width: 100%;
  margin-right: 50px;

  &__item {
    margin-bottom: 70px;
  }

  &__hidden {
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0);
    position: absolute;
  }

  &__title {
    display: inline-block;
    font-size: 18px;
    color: #243f4d;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-right: 56px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 39px;
      height: 3px;
      background-image: url('../img/shop/line.svg');
      background-repeat: no-repeat;
      top: 10px;
    }
  }
}

.filter-category,
.filter-brand {

  &__input {

    &:checked+.filter-category__checkbox,
    &:checked+.filter-brand__checkbox {
      background-color: #edf1f4;
      border-radius: 7px;
    }
  }

  &__checkbox {
    color: #243f4d;
    font-family: 'Rubik';
    display: flex;
    justify-content: space-between;
    padding: 16px 22px 16px 14px;
    align-items: center;
  }

}

.irs--flat .irs-line {
  height: 3px;
  background-color: #a3bbc8;
}

.irs--flat .irs-bar {
  height: 4px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle {
  height: 15px;
  width: 15px;
  background-color: #a3bbc8;
  top: 19px;
  cursor: pointer;
}

.irs--flat .irs-handle>i:first-child {
  background-color: #a3bbc8;

}

.irs--flat {
  margin-top: -20px;
}

.irs--flat .irs-handle>i:first-child:hover {
  background-color: #a3bbc8;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.filter-price {
  &__checkbox {
    display: flex;
    padding-top: 10px;
    color: #243f4d;
    font-family: Rubik;
    font-size: 14px;
  }

  &__from {
    margin-right: 200px;
  }
}

.filter-recent {

  &__item {
    display: flex;
    font-size: 14px;
    font-family: 'Rubik';
    color: #333333;
    margin-bottom: 23px;
  }

  &__img-box {
    width: 71px;
    height: 71px;
    border: 1px solid #f2f2f2;
    text-align: center;
    padding: 3px;
    margin-right: 20px;
  }

  &__name {
    display: block;
    margin-bottom: 10px;
  }

  &__price {
    display: block;
    margin-top: 10px;
    font-size: 15px;
  }


}

.jq-ry-container[readonly=readonly] {
  padding: 0;
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
  margin-right: 5px;
}

.shop-item {
  width: 270px;
  padding: 30px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  text-align: center;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-family: 'Rubik';
  color: #333333;
  margin-right: 20px;
  margin-bottom: 20px;

  &__star {
    display: none;
  }

  &:hover {
    .shop-item__choice {
      opacity: 1;
    }
  }

  &__box {
    display: none;
  }

  &__box-img {
    height: 200px;
    width: 100%;
  }

  &__img {
    height: 100%;
  }

  &__item-title {
    font-family: 'DMSans';
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__price {
    font-family: 'DMSans';
    font-weight: 700;
    color: #a3bbc8;
  }


  &__choice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    gap: 5px;
    transition: all .3s;
  }

  &__choice-link {
    background-color: #fefefe;
    border-radius: 50%;
    padding: 10px;
    transition: all .4s;

    svg {
      transform: translateY(4px);
    }

    &:hover {
      background-color: #a3bac7;
      transform: scale(1.2);

      path {
        fill: #fefefe;
      }
    }
  }

  &__list-text {
    display: none;
  }

  &__choice-add {
    display: none;
    width: 205px;
    color: $white;
    padding-right: 20px;
  }

}

.shop__content-wrapper.shop__content-wrapper--list {
  .shop-item {
    width: 100%;
    flex-direction: row;
    height: 501px;
    box-shadow: none;
    align-items: center;
    text-align: left;
    padding: 0;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .shop-item__box-img {
    border: 1px solid #dae4e9;
    height: 100%;
    min-width: 370px;
    padding: 80px 20px;
    margin-right: 55px;
  }

  .shop-item__img {
    object-fit: contain;
  }

  .shop-item__list-text {
    display: block;
    color: #243f4d;
    line-height: 30px;
  }

  .shop-item__item-title {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .shop-item__price {
    font-size: 30px;
    font-weight: 400;
    margin: 35px 0px;
    color: #333333;
  }

  .shop-item__choice {
    opacity: 1;
    position: static;
    padding-top: 120px;
    padding-left: 100px;
  }


  .shop-item__choice-link {
    background-color: $white;
    border-radius: 0px;
    width: 50px;
    height: 50px;
    transform: none;
    text-align: center;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);

    svg {
      transform: translateY(5px);

      path {
        fill: #a2bac7;
      }
    }
  }




  .shop-item__choice-link--cart {
    background-color: #a3bbc8;


    &:hover {
      width: 180px;
      padding: 15px 0px;
      font-family: 'Rubik';
      text-transform: uppercase;
      text-align: center;
      background-color: #a3bbc8;
      color: $white;
      border-radius: 7px;
      margin-left: 109px;


      svg {
        display: none;
      }

      .shop-item__choice-add {
        display: block;
      }


    }

    svg {
      transform: translateY(5px);

      path {
        fill: $white;
      }
    }

  }

  .shop-item__choice-link--serch {
    display: none;
  }

  .shop-iten__choice-link--fallow {
    display: none;
  }
}

.pagination {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #243f4d;
  font-family: 'Rubik';

  &.pagination--left {

    justify-content: start;

    .pagination__list:first-child {
      margin-left: 0px;
    }

    .pagination__roster {
      margin-left: 0px;
    }
  }

  &__roster {
    display: flex;
    margin: 0px 15px;
  }

  &__list {
    width: 50px;
    margin: 0px 15px;
  }

  .pagination__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;
    cursor: pointer;
  }


  &__next,
  &__prev {
    padding: 14.5px;
    border: 1px solid #a3bbc8;
  }

  &__prev {
    display: none;
  }
}

.pagination--active {
  border: 1px solid #a3bbc8;
  background-color: #a3bbc8;
  color: $white;
}

.shop-content {
  display: flex;
  flex-wrap: wrap;
}

.product-one {
  padding: 120px 0px;
  overflow: hidden;
  font-family: 'Rubik';
  color: #333333;

  &__inner {
    position: relative;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }

  &__title {
    font-size: 40px;
    margin-bottom: 18px;
  }

  &__price {
    font-size: 30px;
    margin-top: 35px;
  }

  &__text {
    margin: 20px 0px;
    color: #243f4d;
    line-height: 30px;
  }

  &__form {
    margin-bottom: 70px;
    margin-top: 30px;
  }

  &__btn {
    cursor: pointer;
    position: relative;
    background-color: #a3bbc8;
    width: 208px;
    padding: 20px 0px;
    font-size: 15px;
    text-transform: uppercase;
    color: $white;
    margin-left: 15px;
    transition: all 0.2s ease-in;
    border-radius: 7px;
    z-index: 99;

    &:hover {
      background-color: #214454;
    }
  }

  &__num {
    position: relative;
    z-index: 99;
  }

  &__list {
    color: #243f4d;
    margin-bottom: 10px;
  }

}




.product-slider {
  width: 50%;
  display: flex;
  align-items: center;
  height: 500px;
  z-index: 1;

  &__thumb {
    min-width: 150px;
  }

  &__thumb-item {
    width: 140px;
    height: 160px;
  }

  &__thumb-img {
    width: 140px;
    object-fit: cover;
  }

  &__big-item {
    padding-top: 12px;
    width: 387px;
  }

  &__big-img {
    width: 387px;
    min-height: 560px;
    object-fit: cover;
  }
}

.jq-number__field {
  width: 50px;
  height: 53px;
  border: 1px solid #b5c9d3;
  border-radius: 0px;
  box-shadow: none;

  &:hover {
    border: 1px solid #b5c9d3;
  }
}

.jq-number__field input {
  width: 100%;
  padding: 18px 0px;
  text-align: center;
  border: none;
  outline: none;
  background: none;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 15px;
  color: #333333;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 53px;
  border: 1px solid #b5c9d3;
  border-radius: 0px;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  margin: 0px 1px;

  &:hover {
    background: transparent;
    border: 1px solid #b5c9d3;
  }

}

.jq-number__spin:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 1px;
  border: 1px solid #333333;
}

.jq-number__spin::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 9px;
  border: 1px solid #333333;
}

.jq-number__spin.minus {
  top: auto;
  left: 0;

}

.jq-number__spin.minus:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 6px;
  height: 1px;
  border: 1px solid #333333;
}

.jq-number__spin.minus::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 0px;
  height: 0px;
  border: 1px solid #333333;
}

.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0 50px;
}


.product-tabs {
  font-family: 'Rubik';
  line-height: 30px;

  &__top {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  &__top-item {
    display: block;
    width: 240px;
    text-align: center;
    padding: 18px 0px;
    background-color: #edf1f4;
    border-radius: 7px;
    color: #243f4d;
    font-size: 18px;

    &+.product-tabs__top-item {
      margin-left: 13px;
    }
  }

  &__top-item--active {
    background-color: #a3bbc8;
    color: $white;
  }

  &__content-item {
    display: none;

    &.product-tabs__content-item--active {
      display: block;
    }
  }
}


.related {
  padding-bottom: 120px;
  position: relative;

  &__title {
    margin-bottom: 90px;
  }

  &__prev,
  &__next {
    position: absolute;
    right: 40px;
    top: 0;
    padding: 21px 15px;
    border: 2px solid #edf1f4;
    border-radius: 7px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;

    &:hover {
      border: 2px solid #a3bbc8;
    }
  }

  &__prev {
    right: 120px;
  }

  &__next {
    transform: rotate(180deg);
  }
}

.slick-slider {
  position: static;
}

.blog {
  font-family: 'Rubik';
  padding: 120px 0px;

  &__inner {
    display: flex;
  }

  &__content {
    margin-right: 70px;
  }

  &__aside {
    min-width: 270px;

  }
}

.blog-item {
  margin-bottom: 40px;

  &__box-img {
    min-width: 830px;
    margin-bottom: 40px;
    position: relative;
  }

  &__img {
    width: 830px;
    height: 500px;
    object-fit: cover;
  }

  &__box-inner {
    display: flex;
    width: 275px;
    padding: 29px 22px;
    background-color: #a3bbc8;
    color: $white;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__data {
    margin-right: 24px;
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 13px;
      width: 11px;
      background-image: url('../img/blog/calendar.svg');
    }
  }

  &__name {
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 13px;
      width: 11px;
      background-image: url('../img/blog/user.svg');
    }
  }


  &__title {
    font-size: 36px;
    color: #333333;
    margin-bottom: 35px;
  }

  &__text {
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 40px;
  }

  &__link {
    color: #a3bbc8;
    display: block;
    font-size: 15px;
    width: 180px;
    padding: 20px 60px 20px 20px;
    border: 1px solid #a3bbc8;
    position: relative;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #214454;
      border: #214454;
    }

    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../img/blog/arrows.svg');
    }
  }
}

.filter-serch {
  margin-bottom: 60px;

  &__form {
    display: flex;
    align-items: center;
  }

  &__input {
    border: 1px solid #edf1f4;
    width: 220px;
    border-radius: 5px;
    height: 43px;
    padding: 0px 15px;
    border-right: none;
  }

  &__btn {
    height: 43px;
    width: 43px;
    background-color: #edf1f4;
    margin-left: -3px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url('../img/blog/serch.svg');
    }
  }
}

.recent-post {

  &__img {
    display: inline-block;
    width: 71px;
    height: 68px;
    object-fit: cover;
    margin-right: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
  }

  &__box-title {
    font-size: 14px;
    display: block;
    color: #333333;
    line-height: 20px;
    margin-bottom: 15px;
    transition: all 0.2s ease-in;

    &:hover {
      color: #a2bac7;
    }
  }


  &__data {
    padding-left: 20px;
    position: relative;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 12px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 13px;
      width: 11px;
      background-image: url('../img/blog/calendar-recent-post.svg');
    }
  }
}

.blog-one {
  font-family: 'Rubik';
  color: #243f4d;

  &__text {
    h4 {
      color: #333333;
      font-size: 36px;
      margin: 25px 0px;
    }

    b {
      font-weight: 500;
      margin: 25px 0px;
      line-height: 30px;
    }

    p {
      margin: 25px 0px;
      line-height: 30px;
      color: #243f4d;
    }

    blockquote {
      background-color: #edf1f4;
      border-left: 5px solid #a3bbc8;
      padding: 25px 90px 25px 40px;
      line-height: 30px;
      margin: 25px 0px;

      span {
        display: block;
        margin-top: 22px;
        padding-left: 40px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 4px;
          background-color: #a3bbc8;
          left: 0;
          top: 50%;
          transform: translateY(-50%);

        }
      }
    }

    h5 {
      font-weight: 500;
      font-size: 18px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    margin: 46px 0px;
  }

  &__text-img {
    margin-right: 30px;
  }
}

.blog-author {
  padding: 25px;
  border-top: 2px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__box {
    display: flex;
    align-items: center;
  }

  &__img {
    display: inline-block;
    width: 76px;
    height: 76px;
    object-fit: cover;
    margin-right: 28px;
  }

  &__name {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__speciality {
    display: inline;
    color: #666666;
  }

  &__tags {
    margin-bottom: 15px;

    span {
      color: #999999;
      margin-left: 20px;
    }
  }

  &__share-img {
    margin-left: 15px;
  }

}

.comments {
  padding: 67px 0px 97px 0px;

  &__box {
    margin-left: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f3f3f3;
  }


  &__title {
    font-size: 24px;
    color: #436372;
    font-weight: 700;
    margin-bottom: 60px;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;

    &.comments__item-answer {
      .comments__box {
        display: flex;
      }

      .comments__img {
        opacity: 0;
      }

      .comments__img-answer {
        display: block;
        height: 100px;
        width: 100px;
        object-fit: cover;
        margin-right: 30px;
      }
    }
  }

  &__img-answer {
    display: none;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__data {
    color: #9e9e9e;
    font-size: 14px;
  }

  &__name {
    color: #436372;
    font-weight: 700;
  }

  &__text {
    color: #565872;
    line-height: 30px;
    margin-bottom: 25px;
  }

  &__link {
    color: #526278;
    font-size: 14px;
    position: relative;
    padding-right: 20px;

    &::after {
      content: "";
      position: absolute;
      width: 15px;
      width: 6px;
      height: 10px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-image: url('../img/shop/arrow.svg');
    }
  }
}

.comments__img {
  display: inline-block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.comments-form {
  &__title {
    color: #436372;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  &__inner {
    display: flex;
    margin-bottom: 20px;
  }

  &__input--name {
    height: 50px;
    width: 50%;
    border: 2px solid #efefef;
    padding: 0px 20px;
    background-image: url('../img/blog-one/user.svg');
    background-repeat: no-repeat;
    background-position: 370px;
    margin-right: 30px;
    transition: all 0.2s ease-in;

    &::placeholder {
      color: #999999;
      font-size: 16px;
      transition: all 0.2s ease-in;
    }

    &:hover {
      border: 2px solid #dae4e9;

      &::placeholder {
        color: #333333;
      }
    }
  }

  &__input--mail {
    height: 50px;
    width: 50%;
    border: 2px solid #efefef;
    padding: 0px 20px;
    background-image: url('../img/blog-one/mail.svg');
    background-repeat: no-repeat;
    background-position: 370px;
    transition: all 0.2s ease-in;

    &::placeholder {
      color: #999999;
      font-size: 16px;
      transition: all 0.2s ease-in;
    }

    &:hover {
      border: 2px solid #dae4e9;

      &::placeholder {
        color: #333333;
      }
    }
  }

  &__textarea {
    height: 120px;
    border: 2px solid #efefef;
    width: 100%;
    padding: 20px;
    resize: none;
    background-image: url('../img/blog-one/comment.svg');
    background-repeat: no-repeat;
    background-position: 817px 20px;
    margin-bottom: 30px;
    outline: none;
    transition: all 0.2s ease-in;

    &::placeholder {
      color: #999999;
      transition: all 0.2s ease-in;
    }

    &:hover {
      border: 2px solid #dae4e9;

      &::placeholder {
        color: #333333;
      }
    }
  }

  &__btn {
    text-transform: uppercase;
    font-size: 14px;
    color: $white;
    background-color: #a3bbc8;
    text-align: center;
    width: 190px;
    height: 50px;
    font-family: 'Rubik';
    letter-spacing: 1.4px;
    font-weight: 300;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #214454;
    }
  }

}