.about {
  margin-bottom: -210px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__link {
    font-weight: 700;
    color: #262626;
    padding-right: 25px;
    margin-right: 25px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 7px;
      height: 12px;
      right: 0;
      top: 4px;
      background-image: url('../img/about/arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 420px;
  }

  &__item {
    position: relative;
    background-color: $white;
  }

  &__img {
    max-height: 210px;
    width: 100%;
    display: block;
    object-fit: cover;
  }

  &__news {
    position: absolute;
    background-color: #a3bbc8;
    padding: 10px 31px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: $white;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  &__wrapper {
    padding: 36px 30px 26px 30px;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    color: #262626;
    margin-bottom: 18px;
  }

  &__inner {
    display: flex;
    padding-top: 20px;
    font-size: 12px;
    font-family: 'Rubik';
    color: #222933;
    text-transform: uppercase;
  }

  &__data {
    margin-right: 30px;
  }

}

@media (max-width: 960px) {
  .about {

    &__items {
      height: 370px;
    }

    &__news {
      top: 30px;
      left: 10px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 900px) {
  .about {
    &__inner {
      padding-top: 0px;
      display: block;
    }

    &__data {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }

    &__admin {
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: 640px) {
  .about {
    display: none;
  }
}