.header {

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: center;
  }
}

.menu {
  display: flex;
  gap: 30px;

  &__btn {
    display: none;
  }

  &__link {
    font-size: 15px;
    font-family: 'Rubik';
    font-weight: 700;
    transition: all .2s;
  }

  &__link:hover {
    color: #214454;
  }
}


.user-nav {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  align-items: center;

  &__serch {
    background: #edf1f4;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__gb {
    padding: 13px;
    background-color: $gb;
    border-radius: 50%;
    cursor: pointer;
  }

  &__shop {
    position: relative;
    display: flex;
    padding: 10px 40px;
    background-color: $cream;
    border-radius: 30px;
    align-items: center;
    gap: 25px;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 10px;
    border-radius: 50%;
    background-color: $white;
    text-align: center;
    transform: translate(-6px, -6px);
    line-height: 16px;
  }

  &__serch-img,
  &__shop-img {
    transform: translateY(2px);
  }
}


@media (max-width: 1000px) {

  .user-nav {
    display: none;
  }

}

@media (max-width: 700px) {
  .menu {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    padding-top: 200px;
    flex-direction: column;
    background-color: $white;
    gap: 0;
    transform: translateY(-200%);
    transition: all 0.2s ease-in;

    &.menu--active {
      transform: translateY(0%);
      transition: all 0.2s ease-in;
    }

    &__list {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &__link {
      display: inline-block;
      padding-bottom: 10px;
      transition: all 0.2s ease-in;
      width: 100%;

      &:hover {
        border-bottom: 1px solid #214454;
      }
    }
  }

  .menu__btn {
    display: block;
    width: 35px;
    height: 20px;
    position: relative;
    z-index: 999;

    span {
      display: block;
      width: 35px;
      height: 2px;
      background-color: #222933;
    }

    &::before,
    &::after {
      content: '';
      left: 0;
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: #222933;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

}