<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gree</title>
  <link rel="stylesheet" href="css/blog.min.css">
</head>

<body>



  {% include 'app/module/_header/_header.html'%}

  <main class="main">
    {% include 'app/module/_top/_top.html'%}

    <div class="blog">
      <div class="container">
        <div class="blog__inner">

          <div class="blog__content">
            <div class="blog-item">
              <div class="blog-item__box-img">
                <img class="blog-item__img" src="./img/blog/item-1.jpg" alt="blog-image">
                <div class="blog-item__box-inner">
                  <div class="blog-item__data">28 JANUARY, 2020</div>
                  <div class="blog-item__name">BY ADMIN</div>
                </div>
              </div>
              <div class="blog-item__box">
                <h3 class="blog-item__title">Fonsectetur adipisicing eiusmod </h3>
                <p class="blog-item__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna </p>
                <a class="blog-item__link" href="#">View More</a>
              </div>
            </div>
            <div class="blog-item">
              <div class="blog-item__box-img">
                <img class="blog-item__img" src="./img/blog/item-2.jpg" alt="blog-image">
                <div class="blog-item__box-inner">
                  <div class="blog-item__data">28 JANUARY, 2020</div>
                  <div class="blog-item__name">BY ADMIN</div>
                </div>
              </div>
              <div class="blog-item__box">
                <h2 class="blog-item__title">Fonsectetur adipisicing eiusmod </h2>
                <p class="blog-item__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna </p>
                <a class="blog-item__link" href="#">View More</a>
              </div>
            </div>
            <div class="blog-item">
              <div class="blog-item__box-img">
                <img class="blog-item__img" src="./img/blog/item-3.jpg" alt="blog-image">
                <div class="blog-item__box-inner">
                  <div class="blog-item__data">28 JANUARY, 2020</div>
                  <div class="blog-item__name">BY ADMIN</div>
                </div>
              </div>
              <div class="blog-item__box">
                <h2 class="blog-item__title">Fonsectetur adipisicing eiusmod </h2>
                <p class="blog-item__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna </p>
                <a class="blog-item__link" href="#">View More</a>
              </div>
            </div>
            <div class="blog-item">
              <div class="blog-item__box-img">
                <img class="blog-item__img" src="./img/blog/item-4.jpg" alt="blog-image">
                <div class="blog-item__box-inner">
                  <div class="blog-item__data data">28 JANUARY, 2020</div>
                  <div class="blog-item__name">BY ADMIN</div>
                </div>
              </div>
              <div class="blog-item__box">
                <h2 class="blog-item__title">Fonsectetur adipisicing eiusmod </h2>
                <p class="blog-item__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna </p>
                <a class="blog-item__link" href="#">View More</a>
              </div>
            </div>


            <div class="pagination pagination--left">
              <a class="pagination__prev" href="#">Prev</a>
              <ul class="pagination__roster">
                <li class="pagination__list ">
                  <a href="" class="pagination__link pagination--active">1</a>
                </li>
                <li class="pagination__list">
                  <a href="" class="pagination__link">2</a>
                </li>
                <li class="pagination__list">
                  <a href="" class="pagination__link">3</a>
                </li>
              </ul>
              <a class="pagination__next" href="#">Next</a>
            </div>

          </div>

          <div class="blog__aside">
            <div class="filter-serch">
              <form class="filter-serch__form" action="#">
                <input class="filter-serch__input" type="text">
                <button class="filter-serch__btn" type="submit"></button>
              </form>
            </div>
            <div class="filter__item filter-category">
              <h4 class="filter__title">CATEGORY</h4>
              <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                  <input class="filter-category__input filter__hidden" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Chair</span>
                    <img src="./img/shop/arrow.svg" alt="arrow">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input filter__hidden" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Tabler</span>
                    <img src="./img/shop/arrow.svg" alt="arrow">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input filter__hidden" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Lamp</span>
                    <img src="./img/shop/arrow.svg" alt="arrow">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input filter__hidden" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Watch</span>
                    <img src="./img/shop/arrow.svg" alt="arrow">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input filter__hidden" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Clock</span>
                    <img src="./img/shop/arrow.svg" alt="arrow">
                  </div>
                </label>
              </form>
            </div>

            <div class="recent-post">
              <h3 class="filter__title">Recent Posts</h3>
              <div class="recent-post__item">
                <img class="recent-post__img" src="./img/blog/item-1.jpg" alt="blog-image">
                <div class="recent-post__box">
                  <a href="" class="recent-post__box-title">Corem ipsum dolor tetur adipisicing elit</a>
                  <div class="recent-post__data">28 JANUARY, 2020</div>
                </div>
              </div>
              <div class="recent-post__item">
                <img class="recent-post__img" src="./img/blog/item-2.jpg" alt="blog-image">
                <div class="recent-post__box">
                  <a href="" class="recent-post__box-title">Corem ipsum dolor tetur adipisicing elit</a>
                  <div class="recent-post__data">28 JANUARY, 2020</div>
                </div>
              </div>
              <div class="recent-post__item">
                <img class="recent-post__img" src="./img/blog/item-3.jpg" alt="blog-image">
                <div class="recent-post__box">
                  <a href="" class="recent-post__box-title">Eonsectetur adipisicing elit, sed do eiusmod </a>
                  <div class="recent-post__data">28 JANUARY, 2020</div>
                </div>
              </div>
              <div class="recent-post__item">
                <img class="recent-post__img" src="./img/blog/item-4.jpg" alt="blog-image">
                <div class="recent-post__box">
                  <a href="" class="recent-post__box-title">gnim ad minim veniam, quis nostrud </a>
                  <div class="recent-post__data">28 JANUARY, 2020</div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  {% include 'app/module/_partners-min/_partners-min.html'%}
  </main>
  {% include 'app/module/_footer/_footer.html'%}

  <script src="./js/main.min.js"></script>
</body>

</html>