<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gree</title>
  <link rel="stylesheet" href="css/index.min.css">
</head>

<body>
  {% include 'app/module/_header/_header.html'%}
  <main class="main">
    {% include 'app/module/_top-slider/_top-slider.html'%}
    {% include 'app/module/_benefits/_benefits.html'%}
    {% include 'app/module/_product/_product.html'%}
    {% include 'app/module/_banner/_banner.html'%}
    {% include 'app/module/_desing/_desing.html'%}
    {% include 'app/module/_video/_video.html'%}
    {% include 'app/module/_about/_about.html'%}
    {% include 'app/module/_partners/_partners.html'%}
  </main>
  {% include 'app/module/_footer/_footer.html'%}
  <script src="./js/main.min.js"></script>
</body>

</html>