<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gree</title>
  <link rel="stylesheet" href="css/rules.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>



  {% include 'app/module/_header/_header.html'%}

  <main class="main">
   {% include 'app/module/_top/_top.html'%}

    <section class="rules">
      <div class="container">
        <h3 class="rules__title">Types of Personal Information We Collect</h3>
        <ol class="rules__lists">
          <li class="rules__list">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="rules__list">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="rules__list">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </li>
          <li class="rules__list">
            Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
          </li>
          <li class="rules__list">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </li>
        </ol>
        <div class="rules__inner">
          <h3 class="rules__title">How marketpmss.com Collects Personal Infonnation</h3>
          <p class="rules__text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </p>
        </div>
        <div class="rules__inner">
          <h3 class="rules__title">How marketpmss.com Collects Personal Infonnation</h3>
          <p class="rules__text">
            consectetur adipising elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </p>
        </div>
      </div>
    </section>

    {% include 'app/module/_about/_about.html'%}
    {% include 'app/module/_partners/_partners.html'%}

  </main>

  {% include 'app/module/_footer/_footer.html'%}

  <script src="./js/main.min.js"></script>
</body>

</html>