.footer {
  &__top {
    font-size: 14px;
    color: $footer;
    font-family: 'Rubik';
    font-weight: 300;
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
  }

  &__sub {
    max-width: 270px;
  }

  &__link {
    font-size: 14px;
    color: $footer;
    font-family: 'Rubik';
    font-weight: 300;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__logo {
    display: block;
    margin-top: -10px;
    margin-bottom: 30px;
  }


  &__title {
    font-family: 'DMSans';
    font-weight: 700;
    font-size: 16px;
    color: $footer-title;
    line-height: 21px;
    margin-bottom: 25px;
  }

  &__sub-text {
    margin-bottom: 30px;
    line-height: 21px;
  }

  &__info {
    max-width: 250px;
  }


  &__form {
    background-color: #a3bbc8;
  }

  &__input {
    padding: 12px 15px;
    font-size: 12px;
    background-color: $cream;
    margin: 0;

    &::placeholder {
      color: $accent;
    }
  }

  &__btn {
    margin: 0;
    padding: 12px 15px;
    background-color: #a3bbc8;
    font-size: 12px;
    color: $white;
    text-transform: uppercase;
  }


  &__botton {
    padding: 30px 0px;
    font-size: 14px;
    color: $footer;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__botton-link {
    color: $footer;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__botton-list {
    border-left: 1px solid $footer;
    padding: 0px 15px;

  }

  &__botton-list--none {
    border: none;
  }
}

.footer__list+.footer__list {
  margin-top: 15px;
}


@media (max-width: 760px) {
  .footer {
    &__top {
      flex-wrap: wrap;
    }

    &__info {
      margin-left: 5px;
    }
  }
}


@media (max-width: 500px) {

  .footer {
    &__top {
      display: block;
    }

    &__info {
      margin-left: 0px;
      margin-bottom: 30px;
    }

    &__services {
      margin-bottom: 30px;
    }

    &__account {
      margin-bottom: 30px;
    }

    &__sub {
      margin-left: 0px;
    }
  }
}